<mat-card *ngIf="title">
  	<div>
		{{ title }} <br/>
		<mat-form-field>
			<mat-select placeholder="Current version: {{currentVersion}}">
				<mat-option *ngFor="let record of previousVersions.versions" value="record" ng-click="">{{record}}</mat-option>
			</mat-select>
			
		</mat-form-field>
		<br/>
		{{ instructions }} <br/>
		{{ materials }} <br/>
		{{ creator }} <br/>
		{{ creator_email }}

	</div>
	<div>
		<button mat-raised-button color="primary" (click)="cloneRecipe()">CLONE TO MY INVENTORY</button>
		<button mat-raised-button color="accent" (click)="goBack()">BACK</button>
		<button mat-raised-button color="warn" (click)="deleteRecipe()">DELETE</button>
	</div>
</mat-card>
