<mat-card id="createBoard">
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="title" (ngModel)="title">
    </mat-form-field>

    <h3>Time:</h3>
    <div id="time">
      <mat-form-field>
        <input matInput placeholder="prep time" (ngModel)="prepTime">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="cook time" (ngModel)="cookTime">
      </mat-form-field>
    </div>

    <h3>Materials:</h3>
    <div *ngFor="let mat of materials; let index=index;">
      <mat-form-field>
        <input matInput placeholder="item {{index+1}}" (ngModel)="materials[index]"
         (keydown.enter)="addMat()">
      </mat-form-field>
    </div>

    <h3>Instructions:</h3>
    <div *ngFor="let step of instructs; let index=index;">
      <mat-form-field>
        <input matInput placeholder="step {{index+1}}" (ngModel)="instructs[index]"
         (keydown.enter)="addStep()">
      </mat-form-field>
    </div>

    <div>
      <button style="background-color:green;" mat-raised-button color="primary"(click)="submit()">create</button>
      <button style="background-color:red;" mat-raised-button color="primary" (click)="goBack()">delete</button>
    </div>

  </mat-card-content>
</mat-card>
