/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
* {
	font-family: 'Ubunto Mono', monospace;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
}

html, body {
	margin:0;
	padding: 0;
	height: 100%;
	width: 100%;
}

app-root {
	height: 100%;
}