.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.created {
  layout: auto;
  layout-align: center;
  width: 55%;
  margin: auto;
}

.buttons { 
  layout:auto;
  flex-align: right;
  position: fixed; 
  margin-left: 80%; 
  background: #7b88d1;
  border-radius: 1em;
  padding: 1em;
  overflow: hidden;
}

ul {
  list-style: initial;
  margin: initial;
  margin-left: 15px;
  
}

ol {
  list-style-type: decimal;
  margin: initial;
  margin-left: 15px;
  
}

.section {
  font-weight: bold;
  margin-bottom: .25em;
}