.mat-toolbar {
  position: fixed;
  font-size: 1em;
}

.fill-remaining-space {
   /*This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout.*/
  margin: 1em;
  flex: 1 1 auto;
}