footer {
  position: fixed;
  bottom: 0em;
  width: 100%;
}

.mat-toolbar {
  font-size: 1em;
  height: 3em;
}

.fill-remaining-space {
   /*This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout.*/ 
  flex: 1 1 auto;
}