<nav class="navbar navbar-expand-lg mat-elevation-z10">
	<h1 class="navbar-brand" routerLink="/recipes">Vercipe</h1>

  <app-search-box></app-search-box>

  <span class="fill-remaining-space"></span>
  <a (click)="loginModal()"><img alt="Login" src="assets\ic_account_circle_white_24dp_2x.png" id="login"></a>
</nav>

<div class="modal" [hidden]="hideModal()" (click)="clickCheck()">
  <div class="modalBody" (click)="formShow()">
    <form name="form" (ngSubmit)="login()">
      <br><br>
      <h2>Login</h2>
      <br><br>
      <div class="form-group">
	<mat-form-field style="width:20%" >
	   <input matInput placeholder="Username" name="password" [(ngModel)]="username" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="width:20%">
	   <input matInput placeholder="Password" name="password" [(ngModel)]="password" required>
	</mat-form-field>
      </div>
      <div class="form-group">
	<button mat-raised-button color="primary">Login</button>  
      </div>
    </form>
    <div class="bottomButtons">
      <button class = "signUp" mat-raised-button color="primary" (click)="signUp()">SignUp</button>
      <button class = "cancel" mat-raised-button color="primary" (click)="cancel()">Cancel</button>
    </div>
    <br><br>
 </div>
</div>

