#recipes { 
  height: 100%;
  overflow: auto;
}

mat-grid-tile {
  /* background: lightblue; */
}

mat-card {
  /* margin: 1em; */
  /* margin-top: 1em; */
  /* top: 0.5em; */
  /* margin-bottom: 1em; */
  height: 90%;
  width: 95%;
}