<div class="recipes" *ngFor="let recipe of recipes">
  <mat-card *ngIf="recipe">
    <div style="margin-bottom:0.5em;">
      <mat-card-header>
        <mat-card-title>
           {{ recipe.title }}
        </mat-card-title>
      </mat-card-header>
      <br/> {{ recipe._id }}
      <br/> {{ recipe.instructions }}
      <br/> {{ recipe.materials }}
      <br/> {{ recipe.creator }}
      <br/> {{ recipe.creator_email }}
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="getRecipeDetail(recipe._id)">LIKE</button>
      <button mat-raised-button color="primary" routerLink="/dashboard">SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>

<div style="min-height: 10vh; margin-top: 5%">

</div>

