#searchBox {
  text-align:center;
  position: relative;
  margin-top: 5em;
}

h1 {
	text-align: center;
}

h1, button, label {
	font-family: 'Ubunto Mono', monospace;
}

.button-row {
	text-align:center
}

