<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <form class="form-inline">
      <input #searchBoxInput class="form-control mr-sm-2" type="search" placeholder="search recipes" aria-label="Search" (keyup.enter)="getResultsByTitle(searchBoxInput.value)">
    </form>
    <button #createButton  class="btn btn-outline-light my-2 my-sm-0 mr-2" (click)="createNewRecipe()">Create</button>
    <!-- Not yet implemented: Will show the recipes that the user has created -->
    <button #myRecipesButton class="btn btn-outline-light my-2 my-sm-0 mr-2" (click)="findUserRecipes()">My Recipes</button>
</div>
